<% if @article.errors.any? %>
  <div class="row" style="display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">
        <%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:
      </h4>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class='row' style="display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;">
  <div class='md-8' style="align: center">
    <%= form_for @article do |f| %>
      <div class="form-group" style="align: center">
        <div class="control-label sm-2">
          <%= f.label :title %>
        </div>
        <div class="sm-8">
          <%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
        </div>
      </div>
        <div class="form-group" >
          <div class="control-label sm-2">
            <%= f.label :description %>
          </div>
          <div class="sm-8">
            <%= f.text_area :description, class:"form-control", placeholder: "Body of article" %>
          </div>
        </div>

      <div class="form-group">
        <div class="control-label sm-2">
          <%= f.label :categories %>
        </div>
        <div class="sm-8">
          <%= f.collection_select(:category_ids, Category.all, :id, :name,
                                  { prompt: "Make your selection"}, { multiple: true, class: "custom-select"}) %>
        </div>
      </div>
      <br>
        <div class="form-group" style="display: block;
          width: 50%;
          margin-left: auto;
          margin-right: auto;">
          <div class="sm-10 offset-2">
            <%= f.submit%>
            <br>
            <br>
            <%= link_to "Back to articles list", articles_path %>
          </div>
        </div>
    <% end %>
  </div>
</div>
